/* Nav bar styling */
.nav{
  font-size: large;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px;
  width: 100%;
  color: silver;
  box-shadow: 5px 5px 8px rgb(1, 1, 1);
}

.nav a{
  color: rgb(10, 189, 249);
  text-decoration: none;
  padding: 10px;
  margin: 5px;
}

.nav h1{
  margin: 10px;
  padding-right: 10px;
}